html,body{
    height: 100%;
}
html,body,p,ul,ol,dl,div,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
/** 颜色值*/
/** primary #409EFF*/
/** success #67C23A*/
/** warning #E6A23C*/
/** danger #F56C6C*/
/** info #909399*/
.text-primary{
    color: #409EFF;
}
.text-success{
    color: #67C23A;
}
.text-warning{
    color: #E6A23C;
}
.text-danger{
    color: #F56C6C;
}
.text-info{
    color: #909399;
}
